<!DOCTYPE html>
<html lang="en">


<body>

	<div id="page" class="theia-exception">


		<main>
			<section class="hero_in general">
				<div class="wrapper">
					<div class="container">
						<div class="fadeInUp">
                        <h1><%=error%></h1>
                        <p><%=message%></p>                        
                        </div>
					</div>
				</div>
			</section>
			<!--/hero_in-->

			<!--/container-->
		</main>
		<!--/main-->


	</div>
	<!-- page -->


	<!-- COMMON SCRIPTS -->
	<!-- COMMON SCRIPTS -->
	<script src="/js/common_scripts.js"></script>
	<script src="/js/main.js"></script>

	<!-- FIREBASE AND MAIN SCRIPT -->
	<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-authentication.js"></script>
	<script src="/js/js.cookie.min.js"></script>

	<script src="/newscripts/utils.js"></script>
	<script src="/newscripts/authcommon.js"></script>


</body>

</html>